# alias
alias ll="ls -l"
alias la="ls -A"
alias l="ls -CF"

alias ..="cd .."

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias s="cd ~/Sites"
alias h="cd ~/"

# git typos
alias gti="git"
alias gits="git s"

#docker
alias d-c="docker-compose $*"

# docker typos
alias ocker="docker"
alias docekr="docker"
alias odkcer="docker"
alias docekrc="docker"

# Get week number
alias week='date +%V'

# The FUCK
# eval $(thefuck --alias fuck)

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# cd into whatever is the forefront Finder window.
cdf() {  # short for cdfinder
  cd "`osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)'`"
}

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# find shorthand
function f() {
    find . -name "$1" 2>&1 | grep -v 'Permission denied'
}
