# WP CLI fix
# export MAMP_PHP=/Applications/MAMP/bin/php/php5.6.28/bin
# export PATH="$MAMP_PHP:$PATH"

# shortcuts
export S="$HOME/Sites"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

# This loads nvm
export NVM_DIR="/Users/gustav/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"

