# Serve static web assets
function simple_webserver {
    python -m SimpleHTTPServer 8001
}

# HTTP lookup
function http() {
    curl http://httpcode.info/$1;
}

# Start a plain mail server
function simple_mailserver {
    python -m smtpd -n -c DebuggingServer localhost:1025
}

# Create new tmux session by folder name
function tnew {
    tmux new-session -As `(basename $PWD | tr . _)`
}

# Resize with imagemagick
# Use like this: smartresize <inputfile.png> <300> <outputdir/>
smartresize() {
   mogrify -path $3 -filter Triangle -define filter:support=2 -thumbnail $2 -unsharp 0.25x0.08+8.3+0.045 -dither None -posterize 136 -quality 82 -define jpeg:fancy-upsampling=off -define png:compression-filter=5 -define png:compression-level=9 -define png:compression-strategy=1 -define png:exclude-chunk=all -interlace none -colorspace sRGB $1
}
