[user]
	name = Gustav
	email = gustaveen@gmail.com
[push]
	default = matching
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[alias]
    s = status
    br = branch
    c- = checkout -
    pod = pull origin develop
    pud = push origin develop
	ct = commit
	co = checkout
	tg = tag -l --sort=-v:refname
[merge "ours"]
	driver = true
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = red
